{% extends 'base.html' %}
{% block content %}
    {% if data%}
        <form action="{% url 'projectdocumentlist' projectid %}" method="GET">
        Search <input type="text" name="q" value="{{data.GET.q}}" placeholder="Search posts"/>
        <input type="submit" name="submit" value="Search"/>
        </form>
        <hr>
    {% endif %}    
   <hr>
    <h3>List Project Document</h3>
    <hr>
    {% for data in data %}
        <div class="card">
        <div class="card-header">
            {{ data.Project.title }} - {{ data.date_upload }}
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
            {{ data.title }}
            <footer class="blockquote-footer">
            {% comment %} <a style="color:red;" href="{% url 'projectdocumentdelete' data.id %}">Delete</a> {% endcomment %}
            <button class="btn btn-outline-info">
            <a href="media/{{ data.file }}" download="media/{{ data.file }}" style="text-decoration:None" class="footer_link">{{ data.file }}<i class="fa fa-download"></i></a>
            </button> 
            </footer>
            </blockquote>
        </div>
        </div>
        <br>
    {% endfor %}
{% endblock %}